* {
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}
.logo{
    height: 100px;
    width: 100px;
}
.collapse ul li {
    margin: 0 3%;
    font-size: 20px;
}

.image-block
{
    width: 100%;
 overflow: hidden;
 
}

/* ----------------------------------------------------------------- */
.My-Idea_Block{
    display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin: 15%;
  
  }
  .My-Idea_Block-button-a{
    background-color: #28a745; 
    border-color: #28a745;
  }

  .btn {
    width: 90%; 
    border: none;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.6rem 1.3rem;
    background-color: #28a745;
    border-color: #28a745;
    font-size: 0.95rem;
    line-height: 1;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    margin: 0;
    

  }


  /* ------------------------------------------------------------------------ */

  .ImgRotate1 {
    display: flex;
    justify-content: end;
    margin: 5% 80px -150px 0px;
  }

  .ImgRotate {
    margin-left: 71px;  
    margin-top: -160px;
    margin-bottom: 60px;
  }
  .ImgRotateImg1 {
    transform: rotate(180deg);
  }
  @media screen and (max-width: 600px) {
    .ImgRotate img{
    margin-top: 140px;
    margin-left: -65px;
    }
    
  .ImgRotate1 img{
    margin: 58px -70px 151px 0px;
  }
    .image img {
      margin-top: 10vh;
      height: 50vh;
    }
  }

  /* ------------------------------------------------------------------------ */



  .wrapper {
    max-width: 1100px;
    width: 100%;
    position: relative;
  }
  .wrapper i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
  }
  .wrapper i:active{
    transform: translateY(-50%) scale(0.85);
  }
  .wrapper i:first-child{
    left: -22px;
    z-index: 2;
  }
  .wrapper i:last-child{
    right: 9px;
  }
  .wrapper .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
  .carousel::-webkit-scrollbar {
    display: none;
  }
  .carousel.no-transition {
    scroll-behavior: auto;
  }
  .carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
  }
  .carousel.dragging .card {
    cursor: grab;
    user-select: none;
  }
  .carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .carousel .card {
    scroll-snap-align: start;
    height: 342px;
    list-style: none;
    background: #fff;
    cursor: pointer;
    padding-bottom: 15px;
    flex-direction: column;
    border-radius: 8px;
  }
  .carousel .card .img {
    background: #8B53FF;
    height: 148px;
    width: 148px;
    border-radius: 50%;
  }
  .card .img img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #fff;
  }
  .carousel .card h2 {
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
  }
  .carousel .card span {
    color: #6A6D78;
    font-size: 1.31rem;
  }
  @media screen and (max-width: 900px) {
    .wrapper .carousel {
      grid-auto-columns: calc((100% / 2) - 9px);
    }
  }
  @media screen and (max-width: 600px) {
    .wrapper .carousel {
      grid-auto-columns: 100%;
    }
  }



